/* 
Color: 
Letras: #FFFFFF;
Letras footer: #1F2023; #3B3C43;
Footer: #3B3C43;
Boton y busqueda: #303134;
Fondo: #1F2023;
*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1F2023;
}
footer {
    background-color: #171717;
    color: #1F2023;
}
.letrasfooter {
    color: #bdc1c6;
    font-size: 14px;
    text-decoration: none;
}
.vacio {
    background-color: #1F2023;
    width: 100%;
    height: 214px;
}
.diseñoheader {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 13px
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 99%;
    height: 48px;
    padding: 10px 6px 10px 6px;
    position: relative;   
}
.centrarImagenMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
}
.centrarMain {
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;
    width: 99%;
    height: 58px;
    padding: 6px;
}
.iconosearch span{
    position: absolute;
    
    top: 25px;
    left: 375px;
}
.tamañoicono {
    font-size: 15px;
    color: #606164;

}
input {
    outline: none;
    padding: 5px;
}

.buscar {
    width: 560px;
    height: 44px;
    padding: 5px 8px 0px 14px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    border: 1px solid #606164;
}
.buscar:hover {
    background-color: #303134;
    
}
.lineaabajo:hover {
    text-decoration-line: underline;
}
.boton {
    background-color: #303134;
    width: auto;
    height: 34px;
    padding: 0px 16px;
    border: 1px solid #303134;
    border-radius: 4px;
    margin: 11px 4px;
    color: #E8EAED;
    font-family: arial, sans-serif;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.boton:hover {
    border: 1px solid #bdc1c6;
}
.centroLogo {

    padding: 10px;
}
.mexico {
    display: block;
    justify-content:flex-start;
    align-items: center;
    width: 95%;
    padding: 15px 30px 15px 30px;
    margin-bottom: 1px;
    border-bottom: 1px solid #242427;
}
.info {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 46px;
    justify-content: space-between;
    
    padding: 0px 20px 0px 20px
}
.alignFooter {
    padding: 15px;
    height: 16px;
}
.alignderecha {
    display: flex;
    /* align-items: flex-end; */
}
.alignizquierda {
    display: flex;
    /* align-items: flex-start; */
}


#navegador ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#navegador ul li {
    background-color: #2E518B;
}
#navegador ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    text-decoration: uppercase;
    letter-spacing: 1px;
}
#navegador ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
#navegador ul li:hover {
    background-color: #5B78A7;
}
